<div id="server-info"
      v-touch:swipe="swipeHandler"
      v-touch-options="{
      touchHoldTolerance: 50,
      swipeTolerance: 80
    }"
    class="animate__animated animate__slideInRight animate__faster">
    <!-- <button class="modal-close is-large" aria-label="close" v-on:click="toggleGroupInfo"></button>
  <i class="fa fa-times close-btn" v-on:click="$store.commit('toggleGroupInfo')"></i> -->
      <i class="fa fa-times close-btn" v-on:click="$store.commit('toggleGroupInfo')"></i>
  <h3>@{{$store.state.group.name}}</h3>
  <p>{{$store.state.group.description}}</p>
  <hr class="divider">
  <Actions />
  <hr class="divider">
  <Users />
  <hr class="divider">
  <Files />
</div>