<div id="friends">
  <button class="modal-close is-large" aria-label="close" v-on:click="close"></button>
  <h3>{{$t('friends.heading')}}</h3>
  <h2 class="label">{{$t('friends.find_someone')}}</h2>
  <article class="message is-dark">
    <div class="message-body">
      <h2>{{$t('friends.add_a_friend')}}</h2>
      <p>{{$t('friends.enter_address')}}</p>
      <br>
      <div class="field has-addons" >
        <div class="control" style="width: 100%;">
          <input class="input" type="text" placeholder="0x00000000000000000000000000..." v-model="friendAddress">
        </div>
        <div class="control">
          <a class="button is-primary" v-on:click="addFriend">
            {{$t('friends.search')}}
          </a>
        </div>
      </div>
      <div style="clear:both"></div>
      <div v-if="error">
        <h2 class="label red">{{error}}</h2>
      </div>
      <div v-if="success">
        <h2 class="label green">{{success}}</h2>
      </div>
      <div v-if="friend">
        <h2 class="label">{{$t('friends.found_someone')}}</h2>
        <Friend :action="commitFriend" :friend="friend" text="Add" />
        <div style="clear:both"></div>
      </div>
    </div>
  </article>
  <h2 class="label">{{$t('friends.chat')}}</h2>
  <article class="message is-dark">
    <div class="message-body">
      <h2>{{$t('friends.your_friends')}}</h2>
      <div v-if="$store.state.friends.length > 0">
        <p>{{$t('friends.start_chat')}}</p>
        <hr class="divider">
        <input
          class="input searchuser"
          type="text"
          v-model="keyword"
          v-on:keyup="filterFriends"
          :placeholder="$t('friends.search_placeholder')">
        <hr class="divider">
      </div>
      <div v-else>
        <p>{{$t('friends.no_friends')}}</p>
      </div>
      <Friend v-for="fr in friends" :key="fr.address" :friend="fr" :action="chatFriend" text="Chat" />
      <div style="clear:both"></div>
    </div>
  </article>
</div>