<div>
    <div v-if="!$store.state.friendRequests">
      {{ $t('friends.requests.loading') }}
    </div>
    <div v-if="$store.state.friendRequests.length === 0">
      <span v-if="outgoing">{{ $t('friends.requests.no-outgoing') }}</span>
      <span v-else>{{ $t('friends.requests.no-incoming') }}</span>
    </div>
    <div
      class="requests"
      v-for="request in $store.state.friendRequests"
      :key="request.address"
    >
      <div class="friend request">
        <div class="left">
          <h1 class="label name">{{ request.name }}</h1>
          <span class="address" v-if="!requestPending[request.address]"
            >{{ request.address.substr(0, 24) }}...</span
          >
          <span class="address" v-else>
            <i class="fa fa-spinner-third fa-spin"></i>
            {{ $t('friends.requests.updating') }}
          </span>
        </div>
        <div class="right">
          <button
            :disabled="requestPending[request.address]"
            class="button is-success"
            v-on:click="acceptRequest(request.address)"
          >
            <i class="fas fa-check"></i>
          </button>
          <button
            :disabled="requestPending[request.address]"
            class="button is-dark"
            v-on:click="denyRequest(request.address)"
          >
            <i class="fas fa-times"></i>
          </button>
        </div>
        <br />
      </div>
    </div>
    <div style="clear:both;"></div>
  </div>