<section class="make-payment" id="mobile-make-payment" v-click-outside="toggle">
    <div class="faded-bg">
        <PrimaryHeading :text="name" />
        <div style="clear:both;"></div>
        <div class="center-info">
            <currency-input 
                style="background-color: transparent !important;"
                class="input green"
                v-model="amount" />
            <br>
            {{amount / priceUsd}} {{tokenSymbol}}</p>
        </div>
        <div style="clear:both;"></div>

        <p>
        <br>
        <small class="sub-info">
            <b>{{$t('payments.balance')}}: </b>
            {{parsedBalance}} {{tokenSymbol}}
            <span v-if="error">
            <br>
            <b class="red">{{error}}</b>
            </span>
            <br>
            <b class="yellow">{{$t('payments.prices_disclaimer')}}</b>
        </small>
        </p>
    </div>
  <i class="fa fa-times close" v-on:click="toggle"></i>
  <button class="button is-primary" v-on:click="sendTransaction">{{$t('payments.button')}} ${{numberWithCommas(+(Math.round((amount) + "e+2")  + "e-2"))}}</button>
</section>