<div class="modal is-active">
  <div class="modal-background"></div>
  <PhotoCropper field="img" langType="en" @crop-success="cropSuccess" v-model="showCropper" :value="showCropper" />
  <div class="modal-card">
    <section class="modal-card-body">
      <div class="modal-heading">
        <span class="close" v-on:click="close">×</span>
        <h2 class="person">{{$t('servers.create.heading')}}</h2>
      </div>
      <div v-if="!creating">
        <hr class="divider">
        <div class="columns">
          <div class="column" style="max-width: 100px;">
            <CircleIcon :image="photoUrl" />
          </div>
          <div class="column">
            <p>{{$t('servers.create.photo_text')}}</p>
            <button class="button is-small is-primary"
              v-on:click="toggleCropper">{{$t('servers.create.photo_button')}}</button>
          </div>
        </div>
        <div style="clear: both;"></div>
        <span class="label">{{$t('servers.create.server_name')}}</span>
        <input class="input" v-model="name" :placeholder="$t('servers.create.server_name_placeholder')" />
        <p class="red" v-if="error">{{error}}</p>
        <hr class="divider">
        <button class="button is-primary create-server-btn" v-on:click="confirm" style="float:right;">
          <i class="fas fa-chevron-right"></i> &nbsp; {{$t('servers.create.create_server')}}
        </button>
      </div>
      <div v-else>
        <p>{{$t('servers.create.confirm_transaction')}}</p>
        <hr class="divider">
        <p>
          <span class="loading" v-if="!confirmation"><i class="fa fa-spinner-third fa-spin"></i> &nbsp;
            {{$t('servers.create.waiting_server_confirmation')}}</span>
          <span v-else><i class="fa fa-spinner-third"></i> &nbsp;
            {{$t('servers.create.waiting_server_confirmation')}}</span>
          <br>
          <span class="loading" v-if="!confirmation"><i class="fa fa-spinner-third fa-spin"></i> &nbsp;
            {{$t('servers.create.writing_additional_details')}}</span>
          <span v-else><i class="fa fa-spinner-third"></i> &nbsp;
            {{$t('servers.create.writing_additional_details')}}</span>
          <br>
          <span class="loading" v-if="!done"><i class="fa fa-spinner-third fa-spin"></i>
            &nbsp;{{$t('servers.create.done')}}</span>
          <span v-else><i class="fa fa-spinner-third"></i> &nbsp; {{$t('servers.create.done')}}</span>
        </p>
      </div>
    </section>
  </div>
</div>