<div id="wallet">
  <div class="wallet-header">
    <h1 class="wallet-balance">$318.38</h1>
    <p class="wallet-balance-subhead">Total Balance</p>
  </div>

  <p class="yellow ea-warning">
    Eearly access operates on a testnet. 
    <br>
    <b>Do not send real funds to your address.</b>
  </p>

  <div class="wallet-separator">Token Balances</div>

  <div class="asset-container" v-for="asset in assets">
    <Asset
      :name="asset.name"
      :icon="asset.icon"
      :symbol="asset.symbol" />
  </div>
  

  <MobileNav 
    v-if="isMobile()"
    :toggleSettings="toggleSettings" />
</div>