<div id="wallet">
  <div class="wallet-header">
    <h1 class="wallet-balance">${{balanceUsd}}</h1>
    <p class="wallet-balance-subhead">{{$t('wallet.total-balance')}}</p>
  </div>

  <p class="yellow ea-warning">
    {{$t('wallet.early-access-warning')}}
    <br>
    <b>{{$t('wallet.early-access-warning-do-not-send-real-funds')}}</b>
  </p>

  <div class="wallet-separator">{{$t('wallet.token-balances')}}</div>

  <div class="asset-container" v-for="asset in assets">
    <Asset
      :name="asset.name"
      :icon="asset.icon"
      :symbol="asset.symbol" />
  </div>


  <MobileNav
    v-if="isMobile()"
    :toggleSettings="toggleSettings" />
</div>