<div id="wallet">
  <div class="nav-wrap">
    <TopNav
      title="Wallet"
      :backAction="goHome"
      :toggleSettings="toggleSettings"
    />
  </div>
  
  <div class="wallet-header">
    <h1 class="wallet-balance">${{calcTotal($store.state.assets)}}</h1>
    <p class="wallet-balance-subhead">{{$t('wallet.total-balance')}}</p>
  </div>

  <p class="yellow ea-warning">
    {{$t('wallet.early-access-warning')}}
    <br>
    <b>{{$t('wallet.early-access-warning-do-not-send-real-funds')}}</b>
  </p>

  <div class="wallet-separator">{{$t('wallet.token-balances')}}</div>

  <div class="asset-container" v-for="asset in $store.state.assets">
    <Asset
      :name="asset.name"
      :icon="asset.icon"
      :symbol="asset.symbol" 
      :balance="formatEther(asset.balance)"
      :usd="asset.priceUsd"
      :changePercent24Hr="asset.changePercent24Hr"
    />
  </div>


  <MobileNav
    v-if="isMobile()"
    :toggleSettings="toggleSettings" />
</div>