<div id="friends">
  <TopNav
    :title="$t('friends.heading')"
    :backAction="close"
    :toggleSettings="toggleSettings"
  />
  <div class="main-content" v-body-scroll-lock="true" v-if="showMainContent">
    <div class="qr-modal" v-if="showShareQR">
      <QRDisplay :data="$store.state.activeAccount" :close="toggleShareQR" />
    </div>
    <div class="qr-modal" v-if="showScanQR">
      <QRScan
        :close="toggleScanQR"
        :handler="setFriend"
        :friend="friend"
        :sendFriendRequest="sendFriendRequest"
        :makingRequest="makingRequest"
      />
    </div>
    <!-- <div class="qr-modal-ios" v-if="showScanQRIOS">
      <p v-on:click="stopScanIOS">STOP</p>
    </div> -->
    <h2 class="label" v-if="$store.state.friendRequests.length > 0">
      {{$t('friends.add-quickly')}}
    </h2>
    <button
      class="is-button button is-primary is-small qr-code"
      v-on:click="toggleShareQR"
    >
      <i class="fas fa-qrcode"></i> &nbsp; {{$t('friends.share')}}
    </button>
    <button
      class="is-button button is-primary is-small qr-code"
      v-on:click="toggleScanQR"
    >
      <i class="fas fa-qrcode"></i> &nbsp; {{$t('friends.scan')}}
    </button>
    <hr class="divider" />
    <h2 class="label">{{$t('friends.find_someone')}}</h2>
    <div class="field has-addons">
      <div class="control" style="width: 100%;">
        <input
          class="input add-friend-input"
          type="text"
          :placeholder="$t('friends.enter-friends-address')"
          v-model="friendAddress"
        />
      </div>
      <div class="control">
        <a class="button is-primary" v-on:click="addFriend">
          {{$t('friends.search')}}
        </a>
      </div>
    </div>
    <div style="clear:both"></div>
    <div v-if="error">
      <h2 class="label red">{{error}}</h2>
    </div>
    <div v-if="success">
      <h2 class="label green">{{success}}</h2>
    </div>
    <div v-if="friend">
      <Friend
        :action="sendFriendRequest"
        :friend="friend"
        :makingRequest="makingRequest"
        :add="true"
      />
      <div style="clear:both"></div>
      <br />
    </div>
    <div v-if="$store.state.friendRequests.length > 0">
      <hr class="divider" />
      <h2 class="label">{{$t('friends.requests.incoming')}}</h2>
      <div>
        <FriendRequests
          :fetchFriendRequests="fetchFriendRequests"
          :friendRequests="$store.state.friendRequests"
          :action="chatFriend"
        />
      </div>
    </div>
    <!--
    TODO: Requires contract updates
      <h2 class="label">{{$t('friends.requests.outgoing')}}</h2>
      <article class="message is-dark">
        <div class="message-body">
          <div>
            <FriendRequests
              :fetchFriendRequests="fetchFriendRequests"
              :friendRequests="friendRequests"
              :outgoing="true"
              :action="chatFriend" />
          </div>
        </div>
      </article>
      -->
    <hr class="divider" />

    <h2 class="label">{{$t('friends.your_friends')}}</h2>

    <div class="friendslist">
      <div
        v-for="entry in Object.entries(getAlphaSorted($store.state.friends))"
      >
        <span class="letter">{{entry[0]}}</span>
        <div v-for="friend in entry[1]">
          <Friend
            :key="friend.address"
            :friend="friend"
            :action="chatFriend"
            :containsOptions="true"
            :makingRequest="makingRequest"
            :removingFriend="removingFriend"
            text="Chat"
          />
        </div>
      </div>
    </div>
  </div>
  <div v-if="showScanQRIOS" v-on:click="stopScanIOS" class="qr-modal-ios">
    <button class="button is-primary">BACK</button>
  </div>
  <div class="mobile-nav-holder" v-if="showMobileNav">
    <MobileNav :toggleSettings="toggleSettings" />
  </div>
</div>
