<section class="controls">
  <div class="user-status">
    <div class="left-side">
      <p>
        <StatusIndicator 
          :status="$store.state.p2pOnline ? 'online' : 'offline'"  
          text="P2P"/>
        <StatusIndicator 
          :status="inCall"  
          text="Call"/>
        <StatusIndicator 
          :status="usingMic"  
          text="Mic"/>
        <StatusIndicator 
          :status="usingCam ? 'online' : 'offline'"  
          text="Cam"/>
      </p>
    </div>
    <div class="right-side">
      <i :class="`fas fa-microphone ${$store.state.muted ? 'red' : ''}`" v-on:click="toggleMute" ></i>
      <i :class="`fas fa-headphones-alt ${$store.state.deafened ? 'red' : ''}`" v-on:click="toggleDeafen"></i>
    </div>
  </div>
  <div class="profile">
      <CircleIcon
        :image="`${config.ipfs.browser}${$store.state.profilePictureHash}`"
        :address="$store.state.activeAccount" />
      <p class="online true"><i class="fa fa-circle"></i></p>
  </div>
  <div 
    class="userinfo has-tooltip-arrow" 
    :data-tooltip="tooltip"
    v-on:click="copied"
    v-clipboard:copy="$store.state.activeAccount">
      <p>{{$store.state.username || 'Anon'}}</p>
      <p class="address">{{$store.state.statusMsg}}</p>
  </div>
  <div class="usercontrols">
      <i class="fa fa-cog" v-on:click="toggleSettings"></i>
  </div>
</section>