<section class="bordered main-section ">
  <div v-if="$store.state.activeChat">
    <InfoBar
      :toggleMedia="toggleMedia"
      :makeCall="makeCall"/>
    <div :class="`${($store.state.showUser) ? 'main-user-info main-user-info-open' : 'main-user-info'}`">
      <Conversation 
        :fetchMessages="fetchMessages"
        :sendMessage="sendMessage"
        :mediaOpen="$store.state.activeMediaStreamPeer && $store.state.activeChat === $store.state.activeMediaStreamPeer"
        :voice="$store.state.activeMediaStreamPeer && $store.state.activeChat === $store.state.activeMediaStreamPeer && voice"
        v-if="$store.state.messages.length"/>
      <NoConversation v-else />
      <VoiceVideo
        v-if="$store.state.activeCall"
        :mediaOpen="$store.state.activeCall"
        :voice="voice"
        :disconnect="hangup"
        :switchTo="switchTo"/>
      <Chatbar :handleNewMessage="sendMessage" />
    </div>
    <UserInfo v-if="$store.state.showUser" :makeCall="makeCall"/>
  </div>
  <div v-else class="no-friends">
    <h2 class="heading">{{$t('main.heading')}}</h2>
    <p>{{$t('main.subtext_one')}}<br /> {{$t('main.subtext_two')}}</p>
    <br>
    <button class="button is-primary" v-on:click="$store.commit('changeRoute', 'friends')">{{$t('main.button')}}</button>
  </div>
</section>