<section class="bordered main-section" v-touch:swipe="swipeHandler" v-touch-options="{swipeTolerance: 10}">
  <div v-if="$store.state.activeChat">
    <InfoBar
      :toggleMedia="toggleMedia"
      :makeCall="makeCall"/>
    <div :class="`${($store.state.showUser) ? 'main-user-info main-user-info-open' : 'main-user-info'}`">
      <LoadingConvorsation v-if="$store.state.loadingMessages" />
      <Conversation
        :fetchMessages="fetchMessages"
        :sendMessage="sendMessage"
        :mediaOpen="$store.state.activeCall && $store.state.activeCall === $store.state.activeChat"
        :voice="$store.state.activeCall && $store.state.activeCall === $store.state.activeChat && voice"
        v-else-if="$store.state.messages.length"/>
      <NoConversation v-else />
      <VoiceVideo
        v-if="$store.state.activeCall && $store.state.activeCall === $store.state.activeChat"
        :mediaOpen="$store.state.activeCall && $store.state.activeCall === $store.state.activeChat"
        :voice="voice"
        :disconnect="hangup"
        :switchTo="switchTo"/>
      <Chatbar :handleNewMessage="sendMessage" />
    </div>
    <UserInfo v-if="$store.state.showUser" :makeCall="makeCall"/>
  </div>
  <div v-else class="no-friends">
    <i class="fas fa-bars mobile-toggler" v-on:click="$store.commit('toggleMobileSidebar')"></i>
    <h2 class="heading">{{$t('main.heading')}}</h2>
    <img src="/static/img/big_img/chat.png" alt="" class="account-img" />
    <p>{{$t('main.subtext_one')}}<br /> {{$t('main.subtext_two')}}</p>
    <br>
    <button class="button is-primary friends-btn" v-on:click="$store.commit('changeRoute', 'friends')">{{$t('main.button')}}</button>
  </div>
</section>