<div class="servers">
  <CircleIcon color="#00d0a1" icon="fa fa-search" />
  <hr class="divider">
  <div class="server" v-if="loadingServers">
    <CircleIcon icon="fa fa-circle-notch fa-pulse" />
  </div>
  <div class="server has-tooltip-arrow has-tooltip-right has-tooltip-success"
    v-for="(server, index) in servers"
    v-bind:key="server.address"
    :data-tooltip="server.name">
    <div v-if="server.photo.length > 1" class="server-icon">
      <CircleIcon :image="`https://ipfs.io/ipfs/${server.photo}`" />
    </div>
    <div v-else>
      <CircleIcon :address="server.address" class="server-icon" />
    </div>
  </div>
  <hr class="divider">
  <CircleIcon :action="toggleCreateServer" id="addServer" color="#1f2029" icon="fa fa-plus" />
</div>