<div class="servers">
  <div class="go-home" v-on:click="goHome">
    <CircleIcon
      color="#101016"
      icon="fa fa-globe-americas" />
  </div>
  <hr class="divider">
  <div 
    v-for="unread in unreads"
    class="unread-user has-tooltip-arrow has-tooltip-right"
    v-bind:key="unread.address"
    v-on:click="viewUnread(unread)"
    :data-tooltip="unread.name">
    <i class="fas fa-comment-dots unread-icon"></i>
    <CircleIcon
      :image="unread.photo"
      :address="unread.address"  />
  </div>
  <hr class="divider">
  <div class="server" v-if="loadingServers">
    <CircleIcon icon="fa fa-circle-notch fa-pulse" />
  </div>
  <div class="server has-tooltip-arrow has-tooltip-right has-tooltip-success"
    v-for="(server, index) in servers"
    v-bind:key="server.address"
    :data-tooltip="server.name">
    <div
      v-if="server.photo.length > 1" class="server-icon"
      v-on:click="openServer(server)">
      <CircleIcon
        :image="`https://ipfs.io/ipfs/${server.photo}`" />
    </div>
    <div 
      v-else
      v-on:click="openServer(server)" >
      <CircleIcon
        :address="server.address"
        class="server-icon" />
    </div>
  </div>
  <hr class="divider">
  <CircleIcon :action="toggleCreateServer" id="addServer" color="#101016" icon="fa fa-plus" />
</div>