<section class="section main-section noselect">
  <ServerList :toggleCreateServer="toggleCreateServer" :servers="servers" :loadingServers="loadingServers" />
  <h1 id="logo" v-if="!isMobile()">
    Satellite
    <span id="tag" class="yellow">{{version}}</span>
    <a href="#" @click.prevent="onClickClose" class="close">
      <i class="fa fa-bars"></i>
    </a>
  </h1>
  <div class="control user-search">
    <input :class="`input is-small hide-mobile ${requiresUpdate ? 'update-input' : ''}`" type="text" :placeholder="$t('sidebar.find')">
    <UpdateCheck :update="requiresUpdate = true" />
  </div>
  
  <ServerSlider v-if="isMobile()" :toggleCreateServer="toggleCreateServer" :servers="servers" />
  <div style="clear: both;"></div>
  <div class="usersubcontrols">
    <div v-on:click="setMainRoute('friends')" :class="`${$store.state.mainRoute == 'friends' ? 'active' : ''} friends`">
      <i class="fa fa-user-friends"></i> &nbsp; {{$t('sidebar.friends')}}
      <span v-if="activeRequestCount($store.state.friendRequests) > 0" class="indicator">
        {{activeRequestCount($store.state.friendRequests)}}
      </span>
    </div>
    <div v-on:click="setMainRoute('files')" :class="`${$store.state.mainRoute == 'files' ? 'active' : ''} files`">
      <i class="fa fa-folder"></i> &nbsp; {{$t('sidebar.files')}}
    </div>
  </div>
  <div v-if="$store.state.mainRoute !== 'server'">
    <div class="tabs">
      <ul>
        <li :class="`${route === 'chats' ? 'is-active' : ''}`" v-on:click="setRoute('chats')">
          <a>{{$t('sidebar.chats')}}</a>
        </li>
        <li><a>{{$t('sidebar.groups')}}</a></li>
      </ul>
      <i class="fa fa-plus add-friend-chat" v-on:click="toggleQuickFriends"></i>
    </div>
    <QuickFriends v-if="showQuickFriends" :close="toggleQuickFriends" />
    <div class="usercontainer">
      <div v-if="route === 'chats'">
        <User v-if="$store.state.friendsLoaded && getFriend($store.state.friends, chat)"
          v-for="chat in $store.state.activeChats" :friend="getFriend($store.state.friends, chat)"
          :active="$store.state.activeChat === chat" :key="`${chat}${getFriend($store.state.friends, chat).status}`"
          :unread="isUnread(chat)" :typing="$store.state.typingUsers[chat]" :clientId="chat" />
      </div>
    </div>
  </div>
  <div v-else>
    <div class="server-container">
      <ServerSidebar />
    </div>
  </div>
  <Controls :toggleSettings="toggleSettings" />
  <MobileNav 
    v-if="isMobile()"
    :toggleSettings="toggleSettings" />
</section>