<section class="section main-section noselect">
  <ServerList :toggleCreateServer="toggleCreateServer" :servers="servers" :loadingServers="loadingServers" />
  <h1 id="logo">Vault74<span id="tag" class="yellow">alpha 0.2</span></h1>
  <div class="control user-search">
      <input class="input is-small" type="text" :placeholder="$t('sidebar.find')">
  </div>
  <div class="usersubcontrols">
    <div 
      v-on:click="setMainRoute('friends')"
      :class="`${$store.state.mainRoute == 'friends' ? 'active' : ''} friends`">
      <i class="fa fa-user-friends"></i>  &nbsp; {{$t('sidebar.friends')}}
    </div>
    <div 
      v-on:click="setMainRoute('files')"
      :class="`${$store.state.mainRoute == 'files' ? 'active' : ''} files`">
      <i class="fa fa-folder"></i> &nbsp; {{$t('sidebar.files')}}
    </div>
  </div>
  <div class="tabs">
      <ul>
          <li 
              :class="`${route === 'chats' ? 'is-active' : ''}`"
              v-on:click="setRoute('chats')"><a>{{$t('sidebar.chats')}}</a></li>
          <li><a>{{$t('sidebar.groups')}}</a></li>
      </ul>
      <i class="fa fa-plus add-friend-chat" v-on:click="toggleQuickFriends"></i>
  </div>
  <QuickFriends v-if="showQuickFriends" :close="toggleQuickFriends"/>
  <div class="usercontainer">
      <div v-if="route === 'chats'">
        <!--
        <UserDemo name="Samantha Version" unread="unread" status="Idly typing away!" online="true" icon="https://randomuser.me/api/portraits/women/56.jpg"/>
        <UserDemo name="Sophie Chain" status="Enjoying Vault74's piece of mind" online="true" icon="https://randomuser.me/api/portraits/women/43.jpg" active="true"/>
        -->
        <User
          v-if="$store.state.friendsLoaded"
          v-for="chat in $store.state.activeChats"
          :friend="getFriend(chat)"
          :active="$store.state.activeChat === chat"
          :key="`${chat}${getFriend(chat).status}`"
          :unread="!isUnread(chat)"
          :typing="$store.state.typingUsers[chat]"
          :clientId="chat" />

        <div v-if="$store.state.activeChats.length < 4">
          <hr class="divider">
          <span class="label" style="text-align: center;">{{$t('sidebar.add_friends')}}</span>
          <button
            class="button is-primary is-small" 
            v-on:click="setMainRoute('friends')"
            active="false"
            style="width: 100%;">{{$t('sidebar.button')}}</button>
            <br>
            <br>
        </div>
      </div>
  </div>
  <Controls :toggleSettings="toggleSettings"/>
</section>