.is-one-fifth {
  text-align: center;
}
.qr img {
  border-radius: 4px;
}
.bordered {
  margin-top: 1rem;
}
.head {
  font-family: 'Space Mono', monospace;  
  font-size: 20pt;
}
.margin {
  margin: 0.5rem;
  margin-left: 25px;
  width: 150px;
}
.margin-2 {
  margin: 1rem 0;
}
.head {
  text-align: center;
}
.subhead {
  text-align: center;
}
.padded {
  padding-top: 0.65rem;
  padding-left: 1rem;
}
.light {
  opacity: 1;
}
.dark {
  opacity: 0.3;
}
.preview {
  width: 75px;
  height: 75px;
  border-radius: 37.5px;
  background:aquamarine;
  margin-top: 0.5rem;
}
.badges {
  padding-left: 1rem;
}
.inputs {
  width: calc(100% - 100px);
  float: right;
}
.address {
  font-size: 9pt;
}
.preview {
  float: left;
}
.profileToggler {
  position: absolute;
  top: 0rem;
  right: 0.5rem;
  font-size: 18pt;
  cursor: pointer;
  padding: 1rem;
}
#profile {
  position: relative;
  padding: 0 2rem;
}
.create-account-btn, .upload-photo-button {
  width: 100%;
}
.spacer {
  margin: 1rem 0;
}

@media (max-width: 768px) {
  .profileToggler {
    font-size: 12pt;
  }

  .image-ipfs {
    margin: 0 auto;
  }

  .image-ipfs img {
    margin: 20px 0 0 0;
  }
}