<div>
  <h3 class="label" v-if="!embeded">{{$t('settings.profile.label')}}</h3>
  <article :class="`${(!embeded) ? 'message is-dark' : ''}`" id="profile">
    <div :class="`${(!embeded) ? 'message-body' : ''}`" v-if="this.$store.state.dwellerAddress == '0x0000000000000000000000000000000000000000'">
      <h2>{{$t('settings.profile.heading')}}</h2>
      <p>{{$t('settings.profile.subtext')}}</p>
      <br>
      <div v-if="!this.created">
        <div class="columns">
          <div class="column is-one-fifth">
            <img v-if="profileFile && (profileFile.trim() !== 'https://ipfs.io/ipfs/')" :src="profileFile" class="preview">
          </div>
          <div class="column is-four-fifths">
            <p class="label">{{$t('settings.profile.profile_pic')}}</p>
            <PhotoCropper 
              field="img"
              langType="en"
              @crop-success="cropSuccess"
              v-model="showCropper"
              :value="showCropper"/>
            <button class="button is-primary is-small" v-on:click="toggleCropper">{{$t('settings.profile.upload_profile_pic')}}</button>
            <!--<input class="input" type="file" @change="onFileChange" />-->
            <span v-if="profileFile && !ipfsHash">{{$t('settings.profile.uploading_ipfs')}}</span>
            <small class="address">{{ipfsHash.path}}</small>
          </div>
        </div>
        <div class="columns">
          <div class="column is-one-fifth">
          </div>
          <div class="column is-four-fifths">
            <p class="label">{{$t('settings.profile.username')}}</p>
            <input v-model="$store.state.username" class="input" :placeholder="$t('settings.profile.username')" />     
          </div>
          <p v-if="error">{{error}}</p>
        </div>
        <p style="text-align: right;">
          <button 
            class="button is-primary" 
            :disabled="profileFile && !ipfsHash"
            v-on:click="submitProfileContract">{{$t('settings.profile.create_account')}}</button>
        </p>
      </div>
      <div v-else>
        <p>
          <span class="heading">{{$t('settings.profile.creating_transaction')}}</span>
          <span :class="`${created ? 'light' : 'dark'}`">{{$t('settings.profile.step1')}}</span>
        </p>
        <br>
        <p>
          <span :class="`${transactionHash ? 'light' : 'dark'} heading`">{{$t('settings.profile.sending_transaction')}}</span>
          <span :class="`${transactionHash ? 'light' : 'dark'}`">{{$t('settings.profile.step2')}}</span>
        </p>
        <br>
        <p>
          <span :class="`${confirmation ? 'light' : 'dark'} heading`">{{$t('settings.profile.confirming_transaction')}}</span>
          <span :class="`${confirmation ? 'light' : 'dark'}`">{{$t('settings.profile.step3')}}</span>
        </p>
        <br>
        <p>
          <span :class="`${finished ? 'light' : 'dark'} heading`">{{$t('settings.profile.last_step')}}</span>
          <span :class="`${finished ? 'light' : 'dark'}`">{{$t('settings.profile.step4')}}</span>
        </p>
      </div>
    </div>
    <div class="message-body" v-else>
      <div class="profileToggler" v-on:click="actionsOpen = true">
        <i class="fas fa-ellipsis-v"></i>
      </div>
      <ActionSelector
        v-if="actionsOpen"
        :close="hideActionSelector"
        :changePhoto="changePhoto"
        :changeUsername="changeUsername"
        :removePhoto="removePhoto"/>
      <div class="editing" v-if="showChangePhoto || showChangeUsername">
        <h2>{{$t('settings.profile.edit_account')}}</h2>
        <p>{{$t('settings.profile.edit_account_subtext')}}</p>
        <ChangePhoto v-if="showChangePhoto" :close="hideChangePhoto" :refresh="getDweller" />
        <ChangeUsername v-if="showChangeUsername" :close="hideChangeUsername" :refresh="getDweller" />
        <hr class="spacer">
      </div>
      <h2>{{$t('settings.profile.your_account')}}</h2>
      <p>{{$t('settings.profile.your_account_subtext')}}</p>
      <br>
      <CircleIcon
      class="preview"
      :image="`${config.ipfs.browser}${$store.state.profilePictureHash}`"
      :address="$store.state.activeAccount" />
      <div class="inputs">
        <p class="label">{{$t('settings.profile.display_name')}}</p>
        <input class="input" :value="$store.state.username" readonly />
      </div>
      <div style="clear:both;"></div>
      <br>
      <p class="label">{{$t('settings.profile.your_badges')}}</p>
      <div class="badges">
        <Badge :address="$store.state.activeAccount" />
      </div>
      <p class="label">{{$t('settings.profile.account_address')}}</p>
      <p>{{$t('settings.profile.id_card')}}</p>
      <input class="input" :value="$store.state.activeAccount" readonly />
      <br>
      <br>
      <h2>{{$t('settings.profile.transfer_data')}}</h2>
      <div class="qr">
        <vue-qrcode value="bafkuyygq4ffaw6gxcwytmspvywe3igbptez6nqxh24s5yu52al4pkyi" margin="3" scale="6" :color="qrColor"/>
      </div>
    </div>
  </article>
</div>