<div :class="`modal ${active ? 'is-active' : ''}`">
  <div class="modal-background"></div>
  <div class="modal-card">
      <header class="modal-card-head">
        {{dweller.photo}}
        <CircleIcon :image="dweller.photo" />
        <p class="modal-card-title">{{dweller.name}}
            <br>
            <span class="address">{{address}}</span>
            <br>
        </p>
        <button class="delete" aria-label="close" v-on:click="toggle"></button>
      </header>
      <section class="modal-card-body">
          <p>
            <span class="label">{{$t('dwellerid.badges')}}</span>
            <span class="badges">
                <Badge :address="address" />
            </span>
          </p>
          <span class="label">{{$t('dwellerid.status')}}</span>
          <div class="padded">
              <span>{{$t('global.not_yet_implemented')}}</span>
          </div>
          <span class="label">{{$t('dwellerid.actions')}}</span>
          <div class="padded">
            <a :href="`https://goerli.etherscan.io/address/${address}`" target="_blank">{{$t('global.view_on_etherscan')}}</a> 
          </div>
          <br>
          <button class="button is-success" style="float:right;" v-on:click="message">{{$t('dwellerid.send_message')}}</button>
      </section>
  </div>
</div>