<div id="mobile-top-nav">
    <div class="columns is-mobile">
      <div class="column smaller-column" v-on:click="backAction">
        <div v-if="backAction"><i class="fas fa-chevron-left"></i> Back</div>
        <div v-else-if="leftText">
          {{ leftText }}
        </div>
      </div>
      <div class="column center-column">
        {{ title }}
      </div>
      <div
        v-if="updateNeeded"
        v-on:click="doUpdate"
        class="column smaller-column right-column update-column green"
      >
        <i v-if="!updating" class="fas fa-angle-double-down"></i>
        <i v-else class="fas fa-spinner-third fa-spin"></i>&nbsp;Update
      </div>
      <div
        v-else-if="toggleSettings"
        class="column smaller-column right-column"
        v-on:click="toggleSettings"
      >
        <i class="fas fa-sliders-h"></i>
      </div>
      <div v-else class="column smaller-column right-column"></div>
    </div>
  </div>