<span class="badge-container">
    <span class="has-tooltip-arrow" data-tooltip="Developer">
      <i v-if="isRank('developers')" class="fas fa-hat-wizard"></i>
    </span>
    <span class="has-tooltip-arrow" data-tooltip="Supporter">
      <i v-if="isRank('supporters')" class="fas fa-heart"></i>
    </span>
    <span class="has-tooltip-arrow" data-tooltip="Alpha">
      <i v-if="isRank('alpha')" class="fas fa-ghost"></i>
    </span>
    <span class="has-tooltip-arrow" data-tooltip="Contributor">
      <i v-if="isRank('contributors')" class="fas fa-code"></i>
    </span>
    <span
      v-if="showNoBadges"
      class="has-tooltip-arrow"
      data-tooltip="No Badges"
    >
      <i v-if="hasNoRank()" class="fas fa-ban"></i>
    </span>
  </span>