@media (max-width: 768px) {
    .sidebar-wrapper,
    #wrapper,
    #app {
        min-width: unset !important;
    }
    
    /* modal */
    .modal-card {
        padding: 0 !important;
        margin: 0 !important;
        max-height: unset !important;
        width: 100% !important;
        height: 100% !important;
        z-index: 1000 !important;
    }

    .modal-card-body {
        margin: 0 !important;
        width: 100% !important;
        height: 100vh;
    }

    .modal-card-body .modal-heading {
        position: relative !important;
    }

    .modal-card-body .modal-heading .close {
        right: 0 !important;
        top: 0 !important;
    }

    /* image crop */
    .vue-image-crop-upload {
        padding-left: 15px;
        padding-right: 15px;
    }

    .vue-image-crop-upload .vicp-wrap {
        width: 100% !important;
        height: 100vh !important;
        display: flex !important;
        justify-content: center !important;
    }

    .vue-image-crop-upload .vicp-step1 {
        margin-top: auto !important;
        margin-bottom: auto !important;
    }

    .vue-image-crop-upload .vicp-crop {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }

    .vue-image-crop-upload .vicp-wrap .vicp-operate {
        position: absolute;
        right: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }  

    /* footer */
    .footer {
        display: none;
    }

    /* sidebar */
    .sidebar-wrapper {
        max-width: unset !important;
    }

    #conversation {
        top: 5rem !important;
    }

    #conversation .circle-icon {
        left: 0.5rem !important;
        width: 40px;
        height: 40px;
    }

    #conversation .c-message-user {
        left: 3.8rem;
    }

    #conversation .c-message-content {
        padding-left: 3.8rem;
    }

    .wrapper {
        left: 0 !important;
        border-left: unset !important
    }

    .sidebar-wrapper .main-section {
        height: 100% !important;
        padding-left: 72px !important;;
    }

    .sidebar-wrapper .controls {
        padding: 15px 24px !important;
        height: unset !important;
    }

    .sidebar-wrapper .usercontainer {
        bottom: 8.5rem !important;
        left: 5rem !important;
        top: 15rem !important;
    }

    /* servers */
    .theme .wrapper .servers {
        left: 0 !important;
        width: 4rem !important;
    }

    .theme .wrapper .servers .circle-icon {
        width: 52px  !important;
        height: 52px  !important;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15pt;
    }


    .theme .wrapper .servers .circle-icon i {
        margin-top: 0;
    }

    .sidebar-wrapper .controls .user-status .right-side,
    .sidebar-wrapper .controls .user-status,
    .sidebar-wrapper .controls {
        display: flex;
        align-items: center;
    }

    .sidebar-wrapper .controls .user-status {
        left: 0;
        padding: 0 24px 0 88px;
    }

    .sidebar-wrapper .controls .user-status .right-side {
        justify-content: flex-end;
    }

    .sidebar-wrapper .controls .usercontrols,
    .sidebar-wrapper .controls .usercontrols .fa,
    .sidebar-wrapper .controls .user-status .right-side,
    .sidebar-wrapper .controls .user-status .right-side .fas:last-child {
        padding-right: 0 !important;
    }

    .sidebar-wrapper .controls .user-status .left-side,
    .sidebar-wrapper .controls .profile {
        padding-left: 0 !important;
    }

    /* chats with friend */
    .sidebar-wrapper .modal-card {
        position: fixed;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 425px) {

}

@media (max-width: 375px) {
    .modal-card {
        padding: 0 15px;
    }


    .vue-image-crop-upload .vicp-wrap .vicp-close {
        right: -5px !important;
    }
}

@media (max-width: 320px) {
 
}