<div id="file" class="item-file" :data-id="index">
  <a :href="file.url" target="_blank" class="icon">
    <i class="fas fa-file-download nothovered"></i>
    <i :class="`${translateFiletype(file.file.type)} hovered`"></i>
  </a>
  <div class="fileInfo" v-if="!unpinned">
    <div class="filename">{{file.file.name}}</div>
    <span class="heading">{{bytesToSize(file.file.size)}} {{file.file.type}}</span>
  </div>
  <div class="fileInfo" v-else>
    <div class="filename">{{$t('file.removed')}}</div>
    <span class="heading">{{$t('file.unpinned')}}</span>
  </div>
  <div class="close" v-on:click="deleteFile" v-if="!unpinned">
    <i class="fa fa-times"></i>
  </div>
  <div class="preview">
    <img :src="file.remote" alt="" />
  </div>
</div>