<div class="bordered group" v-touch:swipe="swipeHandler" v-touch-options="{swipeTolerance: 75}">
    <div :class="`${($store.state.showGroupInfo) ? 'main-user-info main-user-info-open' : 'main-user-info'}`">
      <InfoBar />
      <LoadingConvorsation />
      <Chatbar :handleNewMessage="() => {}" />
    </div>

    <div v-if="this.$store.state.showGroupInfo"  :class="`${this.$store.state.showGroupInfo ? 'right-bar close-btn ' : 'right-bar right-bar-close'}`">
      <Info />
    </div>
  </div>