<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <section class="modal-card-body">
      <div class="columns">
        <div class="column center" v-if="selectedFile && selectedFile.type.includes('image')">
          <img :src="getURL()" />
        </div>
        <div class="column">
            <h3 class="heading">{{$t('fileupload.heading')}}</h3>
            {{$t('fileupload.description')}}
            <br>
            <br>
            <div v-if="!selectedFile">
              <span class="heading">{{$t('fileupload.select')}}</span>
              <input 
                name="file" 
                id="file" 
                class="input inputfile"
                @change="setFile" 
                type="file" />
              <label
                v-if="!$store.state.buckets"
                for=""
                class="button is-dark">{{$t('fileupload.waiting')}}</label>
              <label v-else for="file" class="button is-small is-primary">{{$t('fileupload.chosefile')}}</label>
            </div>
            <div v-else>
              <span class="heading">File</span>
              <input readonly :value="selectedFile.name" class="input is-small" type="text" />
              <span class="heading padtop">{{$t('fileupload.link')}}</span>
              <input 
                v-if="ipfsHash"
                autofocus
                readonly
                :value="imageURL"
                class="input is-small hash"
                type="text" />
              <div class="heading" v-else>
                {{$t('fileupload.uploading')}}
              </div>
              <progress 
                v-if="progress != 100"
                class="progress is-primary is-small"
                :value="progress"
                max="100">{{progress}}%</progress>
            </div>
            <div v-if="error">
              <span class="red">{{error}}</span>
            </div>
            <input 
              autofocus
              value=" "
              class="hidden"
              ref="hidden"
              type="text" 
              v-on:keyup.enter="sendFileMessage"/>
            <button 
              v-if="ipfsHash"
              :disabled="!ipfsHash"
              class="button is-primary send-file"
              autofocus 
              v-on:click="sendFileMessage">
              <i class="fa fa-rocket" style="color: #fff;"></i>  &nbsp; {{ipfsHash ? $t('fileupload.button_done') : $t('fileupload.button_uploading')}}
            </button>
            <i class="fa fa-times close" v-on:click="close"></i>
        </div>
      </div>
    </section>
  </div>
</div>