<section>
  <div class="columns">
    <div class="column center" v-if="selectedFile && selectedFile.type.includes('image')">
      <img :src="getURL()" />
    </div>
    <div class="column">
        <h3 class="heading">{{$t('fileupload.heading')}}</h3>
        {{$t('fileupload.description')}}
        <br>
        <br>
        <div v-if="!selectedFile">
          <span class="heading">{{$t('fileupload.select')}}</span>
          <input
            name="file"
            id="file"
            class="input inputfile"
            @change="setFile"
            type="file" />
          <label
            v-if="!$store.state.buckets"
            for=""
            class="button is-dark">{{$t('fileupload.waiting')}}</label>
          <label v-else for="file" class="button is-small is-primary">{{$t('fileupload.chosefile')}}</label>
        </div>
        <div v-else>
          <span class="heading">{{$t('fileupload.file')}}</span>
          <input readonly :value="selectedFile.name" class="input is-small" type="text" />
          <span class="heading padtop">{{$t('fileupload.link')}}</span>
          <input
            v-if="ipfsHash"
            autofocus
            readonly
            :value="imageURL"
            class="input is-small hash"
            type="text" />
          <div class="heading" v-else>
            <span v-if="aiScanning">AI scanning image...</span>
            <span v-else>{{$t('fileupload.uploading')}}</span>
          </div>
          <progress
            v-if="progress != 100"
            class="progress is-primary is-small"
            :value="progress"
            max="100">{{progress}}%</progress>
        </div>
        <div v-if="error">
          <span class="red">{{error}}</span>
        </div>
        <input
          autofocus
          value=" "
          class="hidden"
          ref="hidden"
          type="text"
          v-on:keyup.enter="sendFileMessage"/>
        <button
          v-if="ipfsHash"
          :disabled="!ipfsHash"
          class="button is-primary is-small"
          autofocus
          v-on:click="reset">
          {{ipfsHash ? $t('fileupload.button_upload_another') : $t('fileupload.button_uploading')}}
        </button>
    </div>
  </div>
</section>